.keseluruhan-3{
    display: flex;
  position: relative;
  top: 300px; 
  background-color: rgb(23, 21, 21);
  height: 100vh;
}

.form{
  position: relative;
  right: 190px;
  margin: 0 auto;
}

.judul{
  display: flex;
  font-family: Arial;
  position: relative;
  color: white;
  font-size: 32px;
  bottom: 100px;
}

.paragraf1{
  color: grey;
  font-family: Arial;
  display: flex;
  position: relative;
  bottom: 90px;
}

.kotak{
  display: flex;
  margin-left: 4px;
}

.judul2{
  font-family: Arial;
  color: white;
  font-size: 32px;
  position: relative;
  bottom: 50px;
}

.form-2{
  position: relative;
  bottom: 50px;
  width: 190px;
  height: 80px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 4px;
}

.judul3{
  font-family: Arial;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}


#id-item{
  color: grey;
  font-family: Arial;
  font-size: 14px;
  list-style: none;
  
}

.form-3{
  position: relative;
  bottom: 50px;
  width: 190px;
  left: 20px;
  height: 80px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 50px;
}

.garis{
  position: relative;
  top: -65px;
  left: 180px;
}

.form-4{
  position: relative;
  bottom: 40px;
  width: 250px;
  height: 90px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 50px;
  background-color: #28272A;
}

#id-item-2{
  color: grey;
  font-family: Arial;
  font-size: 14px;
  list-style: none;
  padding: 1px;
  
}

.judul-4{
  font-family: Arial;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;

}


